In [18]:
import pandas as pd
import plotly.express as px
import os
print(os.getcwd())

/Users/ozansahin/Desktop/Notebooks

In [20]:
df= pd.read_csv('../DataBases/thyroid/all_conditions.csv')

In [21]:
print(df.info)
print(df.head())

<bound method DataFrame.info of        age sex on_thyroxine query_on_thyroxine on_antithyroid_meds sick  \
0     41.0   F            f                  f                   f    f
1     23.0   F            f                  f                   f    f
2     46.0   M            f                  f                   f    f
3     70.0   F            t                  f                   f    f
4     70.0   F            f                  f                   f    f
...    ...  ..          ...                ...                 ...  ...
2795  70.0   M            f                  f                   f    f
2796  73.0   M            f                  t                   f    f
2797  75.0   M            f                  f                   f    f
2798  60.0   F            f                  f                   f    f
2799  81.0   F            f                  f                   f    f

     pregnant thyroid_surgery I131_treatment query_hypothyroid  ...    FTI  \
0           f               f              f                 f  ...  109.0
1           f               f              f                 f  ...    NaN
2           f               f              f                 f  ...  120.0
3           f               f              f                 f  ...    NaN
4           f               f              f                 f  ...   70.0
...       ...             ...            ...               ...  ...    ...
2795        f               f              f                 f  ...  148.0
2796        f               f              f                 f  ...   72.0
2797        f               f              f                 f  ...  183.0
2798        f               f              f                 f  ...  121.0
2799        f               f              f                 f  ...  115.0

     TBG_measured TBG referral_source patient_id target_hyper target_hypo  \
0               f NaN            SVHC       3733     negative    negative
1               f NaN           other       1442     negative    negative
2               f NaN           other       2965     negative    negative
3               f NaN           other        806     negative    negative
4               f NaN             SVI       2807     negative    negative
...           ...  ..             ...        ...          ...         ...
2795            f NaN             SVI       3689     negative    negative
2796            f NaN           other       3652     negative    negative
2797            f NaN           other       1287     negative    negative
2798            f NaN           other       3496     negative    negative
2799            f NaN             SVI        724     negative    negative

      target_bp           target_rep  target_sick
0      negative             negative     negative
1      negative             negative     negative
2      negative             negative     negative
3      negative  replacement therapy     negative
4      negative             negative     negative
...         ...                  ...          ...
2795   negative             negative     negative
2796   negative             negative         sick
2797   negative             negative     negative
2798   negative             negative     negative
2799   negative             negative     negative

[2800 rows x 35 columns]>
    age sex on_thyroxine query_on_thyroxine on_antithyroid_meds sick pregnant  \
0  41.0   F            f                  f                   f    f        f
1  23.0   F            f                  f                   f    f        f
2  46.0   M            f                  f                   f    f        f
3  70.0   F            t                  f                   f    f        f
4  70.0   F            f                  f                   f    f        f

  thyroid_surgery I131_treatment query_hypothyroid  ...    FTI TBG_measured  \
0               f              f                 f  ...  109.0            f
1               f              f                 f  ...    NaN            f
2               f              f                 f  ...  120.0            f
3               f              f                 f  ...    NaN            f
4               f              f                 f  ...   70.0            f

  TBG referral_source patient_id target_hyper target_hypo  target_bp  \
0 NaN            SVHC       3733     negative    negative   negative
1 NaN           other       1442     negative    negative   negative
2 NaN           other       2965     negative    negative   negative
3 NaN           other        806     negative    negative   negative
4 NaN             SVI       2807     negative    negative   negative

            target_rep  target_sick
0             negative     negative
1             negative     negative
2             negative     negative
3  replacement therapy     negative
4             negative     negative

[5 rows x 35 columns]

In [22]:
# In this example, we will only look TSH values are related (Correlation function says they are )
print(df.corr(method='pearson'))

                 age       TSH        T3       TT4       T4U       FTI  TBG  \
age         1.000000 -0.059776 -0.244702 -0.052111 -0.163357  0.037623  NaN
TSH        -0.059776  1.000000 -0.160890 -0.254791  0.067705 -0.291188  NaN
T3         -0.244702 -0.160890  1.000000  0.563901  0.463434  0.351013  NaN
TT4        -0.052111 -0.254791  0.563901  1.000000  0.434248  0.795206  NaN
T4U        -0.163357  0.067705  0.463434  0.434248  1.000000 -0.173056  NaN
FTI         0.037623 -0.291188  0.351013  0.795206 -0.173056  1.000000  NaN
TBG              NaN       NaN       NaN       NaN       NaN       NaN  NaN
patient_id -0.044519  0.059232 -0.014278  0.033770 -0.025212  0.058891  NaN

            patient_id
age          -0.044519
TSH           0.059232
T3           -0.014278
TT4           0.033770
T4U          -0.025212
FTI           0.058891
TBG                NaN
patient_id    1.000000

In [23]:
df = df[['age','sex','TSH_measured','TSH']]

In [24]:
#  filtering TSH_Measured values which are True (t)

df = df[df['TSH_measured']=='t']

In [25]:
# filtering sex values only for M and F (removing null, blank and other possible unwanted rows)
df = df[(df['sex'] == 'F') | (df['sex'] == 'M')]
df = df[df['age'] < 110]

In [27]:
fig = px.scatter(df,x=df['age'],y=df['TSH'],facet_col='sex',color='sex')
fig.update_traces(marker=dict(size=12))
fig.update_layout(title_text="Thyroid-stimulating hormone measured in Females and Males with Different Ages")
fig.write_html("graph1.html")

In [28]:
# Females are more prone to thyroid disease from males. There are TSH measured between the 80-200 are
# relatively high comparing to males

#To see how standart deviation effects these two graphics we can add some std function thanks to pandas.

# mean and std values for females
df['tsh_mean_females'] = df[df['sex'] =='F']['TSH'].mean()
df['tsh_std_females'] = df[df['sex'] =='F']['TSH'].std()
df['upper_limit_std_females'] = df['tsh_mean_females']+df['tsh_std_females']

In [29]:
# mean and std values for males
df['tsh_mean_males'] = df[df['sex'] =='M']['TSH'].mean()
df['tsh_std_males'] = df[df['sex'] =='M']['TSH'].std()
df['upper_limit_std_males'] = df['tsh_mean_males']+df['tsh_std_males']

In [30]:
fig = px.scatter(df,x=df['age'],y=df['TSH'],facet_col='sex',color='sex')
fig.add_scatter(x=df['age'],y=df['tsh_mean_females'],name='Mean Tsh Values')
fig.add_scatter(x=df['age'],y=df['upper_limit_std_females'],name='Upper Limit of Tsh Values')
##
fig.add_scatter(x=df['age'],y=df['tsh_mean_males'],name='Mean Tsh Values',row=1,col=2)
fig.add_scatter(x=df['age'],y=df['upper_limit_std_males'],name='Upper Limit of Tsh Values',row=1,col=2)

fig.update_layout(title_text="Thyroid-stimulating hormone, Standart deviation values according to sex")
fig.write_html("graph2.html")

In [ ]:
# The standart deviation of Tsh values in females is 27.28 and 16.11 in males.
# This doesn't mean it's safe for values 27 for the females of course, 
# but it will definitely give an idea about standart levels.